<div class="col">
    <div class="p-rounded-20 bg-white mx-1 mb-3 p-4">
        <div>
            <p class="h4 font-weight-bold mb-4"><u>Ventes totales</u></p>
            <p class="h2 font-weight-bold">1374,70€</p>
        </div>
        <div class="m-4">
            <img src="./assets/img/graph1.png" alt="graphique ventes totales" class="img-fluid">
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#287265" class="bi bi-circle-fill mr-2" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
                <p class="h5 m-0 p-fw-600">hier</p>
            </div>
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#fed358" class="bi bi-circle-fill mr-2" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
                <p class="h5 m-0 p-fw-600">aujourd'hui</p>
            </div>
        </div>
    </div>
</div>

