<div class="col">
    <div class="p-rounded-20 bg-white mx-1 mb-3 p-4">
        <div>
            <p class="h4 font-weight-bold mb-4"><u>Nombre de commandes</u></p>
        </div>
        <div class="d-flex flex-column align-items-center m-4 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="#287265" class="bi bi-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            </svg>
            <span class="font-weight-bold position-relative m-0 p-text-graph">12</span>
            <p class="h5 p-mt-70 p-fw-600 ">-18% par rapport à hier</p>
        </div>
    </div>
</div>