<div class="container">
    <div class="d-flex justify-content-between py-5">
        <h1 class="font-weight-bold">Bonjour Monsieur Capard !</h1>
        <div class="calendrier d-flex align-items-center p-3 p-rounded-30 font-weight-bold">
            <p class="px-3 m-0">Calendrier</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
        </div>
    </div>
    <div class="row row-cols-3 flex-wrap">
        <app-ventes-totales></app-ventes-totales>
        <app-nombres-commandes></app-nombres-commandes>
        <app-valeur-moyenne-commandes></app-valeur-moyenne-commandes>
        <app-nombre-visites></app-nombre-visites>
        <app-taux-clients-recurrents></app-taux-clients-recurrents>
        <app-nombre-nouveaux-clients></app-nombre-nouveaux-clients>
        <app-taux-conversion></app-taux-conversion>
        <app-nombre-paniers></app-nombre-paniers>
        <app-total-vente-par-produit></app-total-vente-par-produit>
    </div>
</div>
